{% extends 'base.html.twig' %}

{% block title %}Contact - Mon Portfolio{% endblock %}

{% block body %}
    <div class="intro-container">
        <span class="intro-text">Me joindre</span>
        <h1>CONTACT</h1>
        <span class="intro-text">Email : inass.atouil@etu.univ-st-etienne.fr</span>
    </div>

    <div class="bubble-container">
        <a href="https://github.com/iness321" class="bubble">GitHub</a>
    </div>
{% endblock %}
