<nav class="navbar">
    <a href="{{ path('app_home') }}">Accueil</a> {# Présentation #}
    <a href="{{ path('app_competences') }}">Eportfolio</a>
    <a href="{{ path('app_cv') }}">Mon CV</a>
    <a href="{{ path('app_contact') }}">Contact</a>
</nav>
