<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>

    {# CSS GLOBAL DU SITE #}
    <link rel="stylesheet" href="/css/style.css">

    {# Pour ajouter d'autres CSS si besoin #}
    {% block stylesheets %}{% endblock %}
</head>

    <body>
        {# La navigation est incluse ici #}
        {{ include('partials/_nav.html.twig') }}

        {% block body %}{% endblock %}
    </body>
</html>
